#start-title {
    font-size: 40px;
    font-family: AmericanCaptain;
    text-align: center;
}

#idle-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@font-face {
    font-family: "AmericanCaptain";
    src: url("./common/assets/american_captain.ttf");
}

#list-container {
    font-family: AmericanCaptain;
    height: 35vh;
    width: 98vw;
    padding-left: 25%;
    margin-left: 0%;
    padding-top: 14%;
    margin-top: 0%;
    vertical-align: middle;
}

#games-list {
    font-family: AmericanCaptain;
    font-size: 40px;
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    text-align: left;
}