body {
    background: #000;;
    margin:0px;
    padding:0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#start-text {
    font-size: 36px;
    word-spacing: 0.25em;
    font-family: AmericanCaptain;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 80%;
}

#idle-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#start-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@font-face {
    font-family: "AmericanCaptain";
    src: url("../common/assets/american_captain.ttf");
}

#goal-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#fail-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#gjs-canvas{
    height: 45%;
    width: 15%;
    margin-top: 50%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
}

#output_canvas {
    width: 100%;
    height: 50%;
}

.centered-container {
    align-items: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #EE2027;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }